.section {
    width: 100vw;
    height: 100svh;
    position: absolute;
    overflow: hidden; /* Dodajemy overflow: hidden, aby bateria nie wychodziła poza sekcję */
    top: 0;
}
.batteryH1{
    position: absolute;
    top: 20svh;
    left: 40vw;
    text-transform: capitalize;
    font-size: 70px;
    color: lightgray;
    width: 30vw;
    z-index: 2;
}
.battery{
    position: absolute;
    right:4rem;
    list-style: none;
    background-color: white;
    border: 3px solid black;
    border-radius: 60px;
    padding: 0.5rem;
    width: 15rem;
}
.battery li{
    width: 100%;
    height: 5rem;
    background-color: black;
    background-image: linear-gradient(-90deg, #35c3f3 0%, #8b9fe8 20%, #e681d8 39%, #ffa9a4 76%, #fed2ce 100%);
    border-radius: 20px;
    opacity: 0;
    margin: 0.5rem 0;
}
.battery li.active{
    animation: fadeIn infinite ease forwards;
    width: 100%;
    height: 5rem;
    background-color: black;
    background-image: linear-gradient(-45deg, #35c3f3 0%, #8b9fe8 20%, #e681d8 39%, #ffa9a4 76%, #fed2ce 100%);
    border-radius: 20px;
    opacity: 1;
}


@media  (min-width: 280px)and (max-width: 320px) {

    .batteryH1{
        position: absolute;
        top: 5svh;
        left: 2vw;
        text-transform: capitalize;
        font-size: 30px;
        color: lightgray;
        text-align: center;
        width: 100vw;
    }
    .battery{
        list-style: none;
        position: absolute;
        border: 3px solid black;
        border-radius: 20px;
        width: 13rem;
        top:50svh;
        left: 16svw;
        transform: rotate(90deg) scale(0.6);
    }

    .battery li.active{
        animation: fadeIn infinite linear forwards;
        width: 100%;
        height: 5rem;
        background-color: black;
        background-image: linear-gradient(-45deg, #35c3f3 0%, #8b9fe8 20%, #e681d8 39%, #ffa9a4 76%, #fed2ce 100%);
        border-radius: 10px;
    }
}
@media  (min-width: 321px)and (max-width: 350px) {
    .batteryH1{
        position: absolute;
        top: 5svh;
        left: 2vw;
        text-transform: capitalize;
        font-size: 30px;
        color: lightgray;
        text-align: center;
        width: 100vw;
    }
    .battery{
        list-style: none;
        position: absolute;
        border: 3px solid black;
        border-radius: 20px;
        width: 13rem;
        top:50svh;
        left: 23%;
        transform: rotate(90deg) scale(0.6);
    }

    .battery li.active{
        animation: fadeIn infinite linear forwards;
        width: 100%;
        height: 5rem;
        background-color: black;
        background-image: linear-gradient(-45deg, #35c3f3 0%, #8b9fe8 20%, #e681d8 39%, #ffa9a4 76%, #fed2ce 100%);
        border-radius: 10px;
    }
}
@media  (min-width: 351px)and (max-width: 380px) {

    .batteryH1{
        position: absolute;
        top: 5svh;
        left: 2vw;
        text-transform: capitalize;
        font-size: 30px;
        color: lightgray;
        text-align: center;
        width: 100vw;
    }
    .battery{
        list-style: none;
        position: absolute;
        border: 3px solid black;
        border-radius: 20px;
        width: 13rem;
        top:50svh;
        left: 23%;
        transform: rotate(90deg) scale(0.6);
    }

    .battery li.active{
        animation: fadeIn infinite linear forwards;
        width: 100%;
        height: 5rem;
        background-color: black;
        background-image: linear-gradient(-45deg, #35c3f3 0%, #8b9fe8 20%, #e681d8 39%, #ffa9a4 76%, #fed2ce 100%);
        border-radius: 10px;
    }
}
@media  (min-width: 381px)and (max-width: 400px) {

    .batteryH1{
        position: absolute;
        top: 5svh;
        left: 2vw;
        text-transform: capitalize;
        font-size: 30px;
        color: lightgray;
        text-align: center;
        width: 100vw;
    }
    .battery{
        list-style: none;
        position: absolute;
        border: 3px solid black;
        border-radius: 20px;
        width: 13rem;
        top:50svh;
        left: 25%;
        transform: rotate(90deg) scale(0.6);
    }

    .battery li.active{
        animation: fadeIn infinite linear forwards;
        width: 100%;
        height: 5rem;
        background-color: black;
        background-image: linear-gradient(-45deg, #35c3f3 0%, #8b9fe8 20%, #e681d8 39%, #ffa9a4 76%, #fed2ce 100%);
        border-radius: 10px;
    }
}
@media  (min-width: 401px)and (max-width: 420px) {

    .batteryH1{
        position: absolute;
        top: 5svh;
        left: 2vw;
        text-transform: capitalize;
        font-size: 30px;
        color: lightgray;
        text-align: center;
        width: 100vw;
    }
    .battery{
        list-style: none;
        position: absolute;
        border: 3px solid black;
        border-radius: 20px;
        width: 13rem;
        top:60svh;
        left: 27%;
        transform: rotate(90deg) scale(0.85);
    }

    .battery li.active{
        animation: fadeIn infinite linear forwards;
        width: 100%;
        height: 5rem;
        background-image: linear-gradient(-45deg, #35c3f3 0%, #8b9fe8 20%, #e681d8 39%, #ffa9a4 76%, #fed2ce 100%);
        border-radius: 10px;
        opacity: 1;

    }
}
@media  (min-width: 421px)and (max-width: 768px) {
    .batteryH1{
        position: absolute;
        top: 5svh;
        left: 2vw;
        text-transform: capitalize;
        font-size: 30px;
        color: lightgray;
        text-align: center;
        width: 100vw;
    }
    .battery{
        list-style: none;
        position: absolute;
        border: 3px solid black;
        border-radius: 20px;
        width: 13rem;
        top:45svh;
        left: 37svw;
        transform: rotate(90deg) scale(0.85);
    }

    .battery li.active{
        animation: fadeIn infinite linear forwards;
        width: 100%;
        height: 5rem;
        background-image: linear-gradient(-45deg, #35c3f3 0%, #8b9fe8 20%, #e681d8 39%, #ffa9a4 76%, #fed2ce 100%);
        border-radius: 10px;
        opacity: 1;

    }
}
@media  (min-width: 769px){
    .batteryH1{
        width: 40svw;
        font-size: 60px;
        left:35svw;

    }
    .battery{
        list-style: none;
        position: absolute;
        border: 3px solid black;
        border-radius: 20px;
        width: 13rem;
        top:18svh;
        right: 10svw;
    }

    .battery li.active{
        animation: fadeIn infinite linear forwards;
        width: 100%;
        height: 5rem;
        background-image: linear-gradient(-45deg, #35c3f3 0%, #8b9fe8 20%, #e681d8 39%, #ffa9a4 76%, #fed2ce 100%);
        border-radius: 10px;
        opacity: 1;

    }
}



