.section {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden; /* Dodajemy overflow: hidden, aby bateria nie wychodziła poza sekcję */
}
.animation{
    animation: moveUp 1s 1;
    animation-fill-mode: forwards;
}
.animationMoveLeft{
    animation: moveLeft 1s 1;
    animation-fill-mode: forwards;
}


.batteryH1{
    position: absolute;
    top: 35vh;
    left: 40vw;
    text-transform: capitalize;
    font-size: 70px;
    color: lightgray;
    width: 30vw;
}
@keyframes moveUp {
    0%{
        transform: translateY(50vh);
    }
    100%{
        transform: translateY(-15vh);
    }
}
@keyframes moveLeft {
    0%{
        transform: translateX(50vh);
    }
    100%{
        transform: translateX(-15vh);
    }
}


.battery{
    position: absolute;
    right:4rem;
    list-style: none;
    background-color: white;
    border: 3px solid black;
    border-radius: 60px;
    padding: 0.5rem;
    width: 15rem;
}


.battery li{
    width: 100%;
    height: 5rem;
    background-color: black;
    background-image: linear-gradient(-90deg, #35c3f3 0%, #8b9fe8 20%, #e681d8 39%, #ffa9a4 76%, #fed2ce 100%);
    border-radius: 20px;
    opacity: 0;
    margin: 0.5rem 0;
}

.battery li.active{
    animation: fadeIn infinite ease forwards;
    width: 100%;
    height: 5rem;
    background-color: black;
    background-image: linear-gradient(-45deg, #35c3f3 0%, #8b9fe8 20%, #e681d8 39%, #ffa9a4 76%, #fed2ce 100%);
    border-radius: 20px;
}

@keyframes fadeIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


@media  (min-width: 280px)and (max-width: 370px) {
    @keyframes moveLeft {
        0% {
            transform: translate(0, 200vh) ;
        }
        100% {
            transform:  rotate(90deg)scale(0.6);
        }
    }
    .batteryH1{
        position: absolute;
        top: 15vh;
        left: 2vw;
        text-transform: capitalize;
        font-size: 30px;
        color: lightgray;
        text-align: center;
        width: 100vw;
    }
    .battery{
        list-style: none;
        position: absolute;
        border: 3px solid black;
        border-radius: 20px;
        width: 13rem;
        top:50%;
        left: 15%;
    }

    .battery li.active{
        animation: fadeIn infinite linear forwards;
        width: 100%;
        height: 5rem;
        background-color: black;
        background-image: linear-gradient(-45deg, #35c3f3 0%, #8b9fe8 20%, #e681d8 39%, #ffa9a4 76%, #fed2ce 100%);
        border-radius: 10px;
    }
}
@media  (min-width: 371px)and (max-width: 480px) {
    @keyframes moveLeft {
        0% {
            transform: translate(0, 200vh) ;
        }
        100% {
            transform:  rotate(90deg)scale(0.8);
        }
    }
    .batteryH1{
        position: absolute;
        top: 15vh;
        left: 2vw;
        text-transform: capitalize;
        font-size: 30px;
        color: lightgray;
        text-align: center;
        width: 100vw;
    }
    .battery{
        list-style: none;
        position: absolute;
        border: 3px solid black;
        border-radius: 20px;
        width: 13rem;
        top:60%;
        left: 23%;
    }

    .battery li.active{
        animation: fadeIn infinite linear forwards;
        width: 100%;
        height: 5rem;
        background-color: black;
        background-image: linear-gradient(-45deg, #35c3f3 0%, #8b9fe8 20%, #e681d8 39%, #ffa9a4 76%, #fed2ce 100%);
        border-radius: 10px;
    }
}

