.pricingSection{
     width: 100vw;
     height: 100svh;
     transition: background-color 1.5s ease, opacity 2s ease;
 }
.Colors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 35%;
    top: 50svh;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.colorButton{
    list-style: none;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    margin: 0.5rem 0;
    border: 1px solid black;
    transition: transform 0.3s ease;

}
.colorButton:hover{
    transform: scale(1.5);
}
.colorButton:nth-child(1){
    background-color: #9BB5CE;
}
 .colorButton:nth-child(2){
     background-color: #F9E5C9;
 }
 .colorButton:nth-child(3){
     background-color: #505F4E;
 }
 .colorButton:nth-child(4){
     background-color: #574f6f;
 }
 .colorButton:nth-child(5){
     background-color: #A50011;
 }
 .colorButton:nth-child(6){
     background-color: #215E7C;
 }
.details{
    width: 70%;
    position: absolute;
    right: -5vw;
    top: 20svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .animationMoveDown{
     animation: moveDown 0.5s 1;
     animation-fill-mode: forwards;
 }
 @keyframes moveDown {
     0%{
         transform: translateY(-50vh);
     }
     100%{
         transform: translateY(0vh);
     }
 }
.subtitle {
    font-size: 40px;
    color: whitesmoke;
}
.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.buy{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0.4rem 1rem;
    border-radius: 50px;

    border: none;
    outline: none;

    background-color: #0071e3;
    color: whitesmoke;
    cursor: pointer;
    z-index: 1;
}
.btnLink{
    color: #0071e3;
    text-decoration: none;
    margin-left: 1.5rem;
    z-index: 1;
}
.btnLink:hover {
     text-decoration: underline;
 }
 @media (min-width: 280px) and (max-width: 380px) {
     .Colors{
         transform: rotate(-90deg);
         bottom: -15svh;
         left: 40vw;
     }
     .details{
         position: absolute;
         top: 0;
         right: 15vw;
     }
     .subtitle {
         font-size: 14px;
         color: whitesmoke;
     }
     .buttonContainer {
         display: flex;
         justify-content: center;
         align-items: center;
     }

 }
@media (min-width: 381px) and (max-width: 480px) {
    .Colors{
        transform: rotate(-90deg);
        bottom: -15svh;
        left: 40vw;
    }
    .details{
        position: absolute;
        top: 0;
        right: 15vw;
    }
    .subtitle {
        font-size: 18px;
        color: whitesmoke;
    }
    .buttonContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
@media (min-width: 768px) {

}
