.button{
    background-color: transparent; /* Twój kolor tła */
    width: 10vw;
    height: 3vh;
    margin: 0 auto; /* Wycentrowanie w poziomie */
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: whitesmoke;
    z-index: 2;
}




