.section{
    width: 100vw;
    min-height: 100svh;
    position: absolute;
    background-color: transparent;
    overflow: hidden;
    top: 0;
    pointer-events: none;
    z-index: 1;
}


.v1{
    width: 50svw;
    height: 50svh;
    position: absolute;
    object-fit: cover;
    object-position: bottom;
    pointer-events: none;
}
.v2{
    width: 50svw;
    height: 50svh;
    position: absolute;
    bottom: 0;
    right: 0;
    object-fit: cover;
    object-position: bottom;
    pointer-events: none;
}
.titleContainer {
    width: 50%;
    height: 50svh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: none;
    color: whitesmoke;
    text-align: center;
}
.span{
    font-size: 28px;
    text-transform: capitalize;
    animation-fill-mode: forwards;
    letter-spacing: 2px;
    display: flex;
}


@media  (min-width: 280px) and (max-width: 340px) {
    .v1{
        width: 100svw;
        height: 30svh;
        z-index: 2;
        pointer-events: none;
    }
    .v2{
        width: 100svw;
        height: 30svh;
        z-index: 2;
        pointer-events: none;
    }
    .titleContainer{
        height: 40svh;
        width: 100svw;
        color: whitesmoke;
        left: 0;
        top: 30svh;
        display: flex;
        flex-direction: column;
    }
    .span {
        font-size: 40px;
        text-align: center;
        text-transform: capitalize;
        animation-fill-mode: forwards;
    }

}
@media  (min-width: 341px) and (max-width: 400px) {

    .v1{
        width: 100svw;
        height: 30svh;
        z-index: 2;
        pointer-events: none;
    }
    .v2{
        width: 100svw;
        height: 30svh;
        z-index: 2;
        pointer-events: none;
    }
    .titleContainer{
        height: 40svh;
        width: 100svw;
        color: whitesmoke;
        left: 0;
        top: 30svh;
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    .span {
        font-size: 40px;
        text-align: center;
        text-transform: capitalize;
        animation-fill-mode: forwards;
        z-index: 2;

    }
}

@media  (min-width: 401px) and (max-width: 768px) {

    .v1{
        width: 100svw;
        height: 30svh;
        z-index: 2;
        pointer-events: none;
    }
    .v2{
        width: 100svw;
        height: 30svh;
        z-index: 2;
        pointer-events: none;
    }
    .titleContainer{
        height: 40svh;
        width: 100svw;
        color: whitesmoke;
        left: 0;
        top: 30svh;
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    .span {
        font-size: 40px;
        text-align: center;
        text-transform: capitalize;
        animation-fill-mode: forwards;
        z-index: 2;

    }
}
