.videoContainer {
    width: 100vw;
    height: 100svh;
    position: fixed;
}
.video{
    width: 100%;
    height: 100svh;
    object-fit: cover;
    object-position: bottom;
    overflow: hidden;
    position: fixed;
}
.title{
    position: absolute;
    top: 0;
    transform: translateX(0);
    font-size: 36px;
    color: lightgray;
    left:5vw;
}
.title2{
    position: absolute;
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(-45deg, #35c3f3 0%, #8b9fe8 20%, #e681d8 39%, #ffa9a4 76%, #fed2ce 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
    pointer-events: none;
}
.title2 span{
    text-transform: uppercase;
    font-weight:600;
    font-size: 80px;

}
@media (min-width:280px) and (max-width: 350px){
    .title2 span {
        font-size: 22px;
    }
    .title2 span:first-child {
        margin-top: -30svh;
        margin-left: 5vw;
    }
    .title2 span:nth-child(2) {
        align-self: flex-end;
        margin-bottom: -35svh;
        margin-right: 5vw;
    }

    .title2 {
        flex-direction: column;
        background-image: linear-gradient(90deg, #35c3f3 0%, #8b9fe8 20%, #e681d8 39%, #ffa9a4 76%, #fed2ce 100%);
        align-items: flex-start;
        filter: brightness(1.1);
    }
    .title{
        font-size: 22px;
        width: 100vw;
        top: -2svh;
        left: 13vw;
    }
}
@media (min-width:351px) and (max-width: 400px){
    .title2 span {
        font-size: 24px;
    }
    .title2 span:first-child {
        margin-top: -30svh;
        margin-left: 5vw;
    }
    .title2 span:nth-child(2) {
        align-self: flex-end;
        margin-bottom: -35svh;
        margin-right: 5vw;
    }

    .title2 {
        flex-direction: column;
        background-image: linear-gradient(90deg, #35c3f3 0%, #8b9fe8 20%, #e681d8 39%, #ffa9a4 76%, #fed2ce 100%);
        align-items: flex-start;
        filter: brightness(1.1);
    }
    .title{
        font-size: 28px;
        width: 100vw;
        top: -2svh;
        left: 15vw;
    }
}
@media (min-width:401px) and (max-width: 480px){
    .title2 span {
        font-size: 24px;
    }
    .title2 span:first-child {
        margin-top: -30svh;
        margin-left: 5vw;
    }
    .title2 span:nth-child(2) {
        align-self: flex-end;
        margin-bottom: -35svh;
        margin-right: 5vw;
    }

    .title2 {
        flex-direction: column;
        background-image: linear-gradient(90deg, #35c3f3 0%, #8b9fe8 20%, #e681d8 39%, #ffa9a4 76%, #fed2ce 100%);
        align-items: flex-start;
        filter: brightness(1.1);
    }
    .title{
        font-size: 28px;
        width: 100vw;
        top: 0;
        left: 18vw;
    }
}
@media (min-width:481px) and (max-width: 767px){
    .title2 span {
        font-size: 24px;
    }
    .title2 span:first-child {
        margin-top: -30svh;
        margin-left: 5vw;
    }
    .title2 span:nth-child(2) {
        align-self: flex-end;
        margin-bottom: -35svh;
        margin-right: 5vw;
    }

    .title2 {
        flex-direction: column;
        background-image: linear-gradient(90deg, #35c3f3 0%, #8b9fe8 20%, #e681d8 39%, #ffa9a4 76%, #fed2ce 100%);
        align-items: flex-start;
        filter: brightness(1.1);
    }
    .title{
        font-size: 22px;
        width: 100vw;
        top: 0;
        left: 18vw;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .title2 span {
        font-size: 32px;
    }
}
.animation{
    animation: moveUp 0.6s ease;
}

@keyframes moveUp {
    0%{
        transform: translateY(100svh);
    }
    100%{
        transform: translateY(0);
    }
}