.textContainer {
    width: 100vw;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text{
    width:90%;
    position: relative;
    overflow: hidden;
    font-size: 28px;
    text-align: center;
}
.text:nth-child(5) {
    transform: translateX(13vw);
}
.text span {
    display: inline-block; /* Dodajemy display: inline-block, aby animacja translateY zadziałała */
    transform: translateY(3rem);
    animation: fadeInAnimation 2.5s ease forwards; /* Skróciliśmy styl animacji */
    background-image: linear-gradient(-45deg, #35c3f3 0%, #8b9fe8 20%, #e681d8 39%, #ffa9a4 76%, #fed2ce 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.down{
    position: absolute;
    bottom: 30svh;
    animation: bounceAnimation 1s infinite alternate;
    transition: transform 0.2s linear;
}
@keyframes fadeInAnimation {
    to {
        opacity: 1;
        transform: translateY(0); /* Zmieniamy transformację translateY na 0, aby elementy pojawiały się z dolu */
    }
}
@keyframes bounceAnimation {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}
.text:nth-child(1) span {
    animation-delay: 0s;
}
.text:nth-child(2) span {
    animation-delay: 0.5s;
}
.text:nth-child(3) span {
    animation-delay: 1s;
}
.text:nth-child(4) span {
    animation-delay: 1.5s;
}
.text:nth-child(5) span {
    animation-delay: 2s;
}
@media (min-width: 1025px) and (max-width: 1440px) {
    .text {
        font-size: 35px;
        text-align: center;
        width: 90%;
    }
    .text:nth-child(5) {
        transform: translateX(25vw);
    }
}
@media (min-width: 280px) and (max-width: 360px) {
    .text {
        font-size: 20px;
        text-align: center;
        width: 90%;
    }
    .text span {
        transform: translateY(5rem);
    }
    .text:nth-child(5) {
        transform: translateX(25vw);
    }
    .down{
        position: absolute;
        bottom:10vh;
        animation: bounceAnimation 1s infinite alternate;
        transition: transform 0.2s linear;
        color: whitesmoke;
    }
}
@media (min-width: 361px) and (max-width: 480px) {
    .text {
        font-size: 20px;
        text-align: center;
        width: 90%;
    }
    .text span {
        transform: translateY(5rem);
    }
    .text:nth-child(5) {
        transform: translateX(25vw);
    }
    .down{
        position: absolute;
        bottom:10vh;
        animation: bounceAnimation 1s infinite alternate;
        transition: transform 0.2s linear;
        color: whitesmoke;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .text {
        font-size: 20px;
        text-align: center;
        width: 90%;
    }
    .text span {
        transform: translateY(5rem);
    }
    .text:nth-child(5) {
        transform: translateX(25vw);
    }
    .down{
        position: absolute;
        bottom:10vh;
        animation: bounceAnimation 1s infinite alternate;
        transition: transform 0.2s linear;
        color: whitesmoke;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .text {
        font-size: 24px;
        text-align: center;
        width: 80%;
    }
    .text span {
        transform: translateY(3rem);
    }
    .text:nth-child(5) {
        transform: translateX(25vw);
    }
}




