.sectionText {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0 ,0, 0, 0.5);
    position: absolute;
    pointer-events: none;
    top: 0;
    z-index: 1;
}

.sectionText .sectionContentContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionText .nikilogo {
    width: 100vw;
    max-width: 500px;
    opacity: 90%;
}

.sectionText h1 {
    color: white;
    text-align: center;
}

.sectionText .iconsContainer {
    width: 80vw;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    pointer-events: all;
}

.iconsContainer img:nth-of-type(3){
    height: 100%;
    background-color: white;
    border-radius: 10%;
}



