.section{
    width:100vw;
    height: 100svh;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: black;
    color: white;
}
.textBlockLeft{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    bottom:8vh;
    left: 5vw;
    width: 40vw;
}
.textBlockLeft h2{
    font-size: 30px;
}
.textBlockLeft p {
    font-size: 24px;
    color: lightgray;
    width: 100%;
}
.textContainer {
    width:100vw;
    position: absolute;
    top:10vh;
    left: 5vw;
}
.movingText{
    font-size: 50px;
    background-image: linear-gradient(-45deg, #35c3f3 0%, #8b9fe8 20%, #e681d8 39%, #ffa9a4 76%, #fed2ce 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media (min-width:280px) and (max-width: 359px) {
    .textBlockLeft{
        width: 100%;
        top: 10vh;
    }

    .textBlockLeft h2 {
        font-size: 13px;
    }
    .textBlockLeft p{
        font-size: 11px;
        width: 90%;
    }
    .textContainer{
        width: 100vw;
        top: 0;
        left: 10vw;
    }
    .movingText{
        font-size:20px;
    }
    .animation{
        animation: moveUp 0.8s linear;
    }

    @keyframes moveUp {
        0%{
            transform: translateY(100vh);
        }
        100%{
            transform: translateY(0);
        }
    }
}
@media (min-width:360px) and (max-width: 400px) {
    .textBlockLeft{
        width: 100%;
        top: 10vh;
    }

    .textBlockLeft h2 {
        font-size: 18px;
    }
    .textBlockLeft p{
        font-size: 14px;
        width: 60%;
    }
    .textContainer{
        width: 100vw;
        top: 0;
        left: 14vw;
    }
    .movingText{
        font-size:24px;
    }
    .animation{
        animation: moveUp 0.8s linear;
    }

    @keyframes moveUp {
        0%{
            transform: translateY(100vh);
        }
        100%{
            transform: translateY(0);
        }
    }
}
@media (min-width:401px) and (max-width: 767px) {
    .textBlockLeft{
        width: 100%;
        top: 10vh;
    }

    .textBlockLeft h2 {
        font-size: 18px;
    }
    .textBlockLeft p{
        font-size: 16px;
        width: 80%;
    }
    .textContainer{
        width: 100vw;
        top: 0;
        left: 14vw;
    }
    .movingText{
        font-size:24px;
    }
    .animation{
        animation: moveUp 0.8s linear;
    }

    @keyframes moveUp {
        0%{
            transform: translateY(100vh);
        }
        100%{
            transform: translateY(0);
        }
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .textContainer{
        width: 39vw;
    }
    .movingText{
        font-size: 28px;
    }
    .textBlockLeft h2 {
        font-size: 20px;
    }
    .textBlockLeft p{
        font-size: 16px;
        width: 100%;
    }
    .textBlockLeft{
        width: 50%;
    }
    .animation{
        animation: moveUp 0.8s linear;
    }
    @keyframes moveUp {
        0%{
            transform: translateY(100vh);
        }
        100%{
            transform: translateY(0);
        }
    }
}