.section{
    width:100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.title{
    position: absolute;
    top: 10vh;
    left:6vw;
    font-size:50px;
    background-image: linear-gradient(-45deg, #35c3f3 0%, #8b9fe8 20%, #e681d8 39%, #ffa9a4 76%, #fed2ce 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
}

.textBlockLeft{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    right: 0;
    width: 50%;
}

.textBlockLeft h2{
    color: whitesmoke;
    font-size: 28px;
    margin-bottom: 1rem;
    width: 100%;
}


.textBlockLeft p {
    font-size: 18px;
    color: whitesmoke;
    width:100%;
}

@media (max-width: 767px) {
    .title {
        font-size: 24px;
        top: 0;
        left: 50vw;
    }

    .textBlockLeft {
        width: 50vw;
        bottom: 5vh;
    }

    .textBlockLeft h2 {
        font-size: 20px;
    }

    .textBlockLeft p {
        font-size: 16px;
    }
    .animation{
        animation: moveUp 1s ease;
    }

    @keyframes moveUp {
        0%{
            transform: translateY(100vh);
        }
        100%{
            transform: translateY(0);
        }
    }
}

/* Style dla urządzeń o szerokości mniejszej niż 1024px (np. tablety w orientacji pionowej) */
@media (min-width: 768px) and (max-width: 1023px) {
    .title {
        font-size: 26px;
        left: 11vw;
    }

    .textBlockLeft {
        width: 80%;
    }

    .textBlockLeft h2 {
        font-size: 26px;
    }

    .textBlockLeft p {
        font-size: 17px;
    }
}