.section{
    width:100vw;
    height: 100svh;
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    z-index: 2;
    pointer-events: none;
    top: 0;
}

.title{
    position: absolute;
    top: 10svh;
    left:6vw;
    font-size:50px;
    background-image: linear-gradient(-45deg, #35c3f3 0%, #8b9fe8 20%, #e681d8 39%, #ffa9a4 76%, #fed2ce 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.textBlockRight{
    position: absolute;
    text-align: center;
    right: 5vw;
    width: 40%;
    pointer-events: none;
}

.textBlockRight h2{
    color: whitesmoke;
    font-size: 40px;
    margin-bottom: 1rem;
    width: 100%;
}


.textBlockRight p {
    font-size: 24px;
    color: whitesmoke;
    width:100%;
}
@media (min-width:280px) and (max-width: 350px){
    .title {
        font-size: 30px;
        top: 0;
        left: 30vw;
        text-align: center;
    }

    .textBlockRight {
        width: 70vw;
        z-index: 1;
        height: 60svh;
    }

    .textBlockRight h2 {
        font-size: 25px;
    }

    .textBlockRight p {
        font-size: 16px;
    }
    .animation{
        animation: moveUp 1s ease;
    }

    @keyframes moveUp {
        0%{
            transform: translateY(100vh);
        }
        100%{
            transform: translateY(0);
        }
    }
}
@media (min-width: 351px) and (max-width: 420px) {
    .title {
        font-size: 30px;
        top: 0;
        left: 50vw;
        text-align: center;
    }

    .textBlockRight {
        width: 50vw;
        top:20svh;
    }

    .textBlockRight h2 {
        font-size: 24px;
    }

    .textBlockRight p {
        font-size: 15px;
    }
    .animation{
        animation: moveUp 1s ease;
    }

    @keyframes moveUp {
        0%{
            transform: translateY(100vh);
        }
        100%{
            transform: translateY(0);
        }
    }
}
@media (min-width: 421px) and (max-width: 767px) {
    .title {
        font-size: 30px;
        top: 0;
        left: 50vw;
        text-align: center;
    }

    .textBlockRight {
        width: 50vw;
    }

    .textBlockRight h2 {
        font-size: 24px;
    }

    .textBlockRight p {
        font-size: 16px;
    }

}
@media (min-width: 768px) and (max-width: 1023px) {
    .title {
        width: 25svw;
        font-size: 30px;
        right: 11vw;
    }

    .textBlockRight {
        width: 50%;
    }

    .textBlockRight h2 {
        font-size: 26px;
    }

    .textBlockRight p {
        font-size: 22px;
    }
}
@media(min-width: 1024px){
    .animation{
        animation: moveUp 1s ease;
    }

    @keyframes moveUp {
        0%{
            transform: translateY(100vh);
        }
        100%{
            transform: translateY(0);
        }
    }
}